<% if context == :show %> <div class='w-100 card border-top-0 border-bottom-0 rounded-0'>
<% elsif context == :edit or context == :last %> <div class='w-100 card border-top-0 rounded-0'>
<% else %> <div class='w-100 card rounded-0'> <% end %>
    <div class='container mt-3'>
        <span class='row'>
            <div class='col-12'>
                Thitphoom Chit-armarth
                <div class='float-right'>
                    <small class='text-muted'><%= comment.created_at.strftime( '%d %b %Y %T' ) %></small>
                    <small>
                    <% if context == :edit %>
                        Edit
                    <% else %>
                        <%= link_to 'Edit', edit_comment_path(comment.id)  %>
                    <% end %>
                    <%= link_to 'Delete', comment_path(comment.id), method: :delete %>
                    </small>
                </div>
            </div>
            <div class='font-weight-light col-12 mb-3'>
                <% if context == :edit %>
                    <%= simple_form_for comment do |f| %>
                        <%= f.input :content, label: false, as: :text %>
                        <%= f.button :submit, 'Done', class: 'btn-primary col-2 float-right ml-3 rounded-0' %>
                        <%= link_to "Discard", :back, {:class=>'btn btn-primary col-2 float-right rounded-0'} %>
                    <% end %>
                <% else %>
                    <div>
                        <%= comment.content %>
                    </div>
                    <div class='text-right'>
                        <a class='col'>0 Like</a>
                        <a class='col'>0 Reply</a>
                    </div>
                <% end %>
            </div> 
        </span>
    </div>
</div>