<div class="<%= [bg_class, text_class, border_class].join(' ') %> w-100 card rounded-0">
  <div class="<%= [bg_class, border_class].join(' ') %> card-header">
    <%= header_string %>
  </div>
  <div class='card-body'>
    <%= simple_form_for new_model do |f| %>
      <%= f.input :content, label: false, as: :text, class: "#{bg_gray_class} form-control rounded-0" %>
      <% if context == :tweet %>
        <%= f.button :submit, 'Tweet', class: "#{btn_class} col-2 float-right rounded-0" %>
      <% elsif context == :reply %>
        <%= hidden_field_tag( :reply_to_tweet_id, params[:id] ) %>
        <%= f.button :submit, 'Reply', class: "#{btn_class} col-2 float-right rounded-0 ml-3" %>
      <% elsif context == :retweet %>
        <%= render "components/content_card", tweet: retweeted_tweet, context: :retweet %>
        <%= hidden_field_tag( :retweet_from_tweet_id, params[:id] ) %>
        <%= f.button :submit, 'Retweet', class: "#{btn_class} col-2 float-right rounded-0 ml-3 mt-3" %>
        <%= link_to "Discard", :back, {:class=>'col-2 float-right mt-4'} %>
      <% end %>
    <% end %>
  </div>
</div>
