<% if context == :parent %>
    <% unless tweet.reply_to_tweet_id.nil? %>
        <%= render "components/replies", tweet: tweet.reply_to_tweet, context: :parent %>
    <% end %>
    <% array = tweet.reply_to_tweet.nil? ? [] : [tweet.reply_to_tweet] %>
<% else %>
    <% array = tweet.replies %>
<% end %>
<% array.each do |reply| %>
    <% if context == :parent %> <div class='w-100 card border-bottom-0 rounded-0'>
    <% elsif context == :nest %> <div class='w-100 card border-top-0 border-bottom-0 border-right-0 rounded-0'>
    <% elsif reply == array.last %> <div class='w-100 card border-top-0 rounded-0'>
    <% elsif context == :show or context == :index %> <div class='w-100 card border-top-0 border-bottom-0 rounded-0'>
    <% else %> <div class='w-100 card rounded-0'> <% end %>
        <div class='container mt-3'>
            <span class='row'>
                <div class='col-12'>
                    Thitphoom Chit-armarth
                    <div class='float-right'>
                        <small class='text-muted'><%= reply.created_at.strftime( '%d %b %Y %T' ) %></small>
                        <% unless context == :parent %>
                            <small>
                            <% if context == :edit %>
                                Edit
                            <% else %>
                                <%= link_to 'Edit', edit_tweet_path(reply.id)  %>
                            <% end %>
                            <%= link_to 'Delete', tweet_path(reply.id), method: :delete %>
                            </small>
                        <% end %>
                    </div>
                </div>
                <div class='font-weight-light col-12 mb-3'>
                    <div>
                        <%= reply.content %>
                    </div>
                    <div class='text-right'>
                        <a class='col'>0 Like</a>
                        <%= link_to "#{reply.retweets.size} Retweet", retweet_path(reply.id), class: 'col' %>
                        <%= link_to "#{reply.replies.size} Reply", tweet_path(reply.id), class: 'col' %>
                    </div>
                </div> 
            </span>
            <% unless context == :index or context == :parent %>
                <div class='row reply float-right'>
                    <%= render "components/replies", tweet: reply, context: :nest %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>