<% if user_signed_in? %>
  <div class='mb-3'>
    <%= render "components/form_card", 
        context: :tweet, 
        new_model: @new_tweet, 
        header_string: 'Tweet Someting' %>
  </div>
<% end %>
<%= render "components/page_menu", items: @tweets %>
<%= render "components/flash_dialog" %>
<% @tweets.each do |tweet| %>
  <div class='mb-3'>
    <%= render "components/content_card", context: :index, tweet: tweet %>
    <%= render "components/replies", context: :index, tweet: tweet %>
  </div>
<% end %>
<%= render "components/page_menu", items: @tweets %>