<div class='<%= text_class %> text-center homepage-header'>
    <h1 class='font-weight-light' > <%= @hash_tag.name %> </h1><br>
    <div class='row'>
      <div class='col'>
        Tweets<br><%= @tweets.size %>
      </div>
    </div>
</div>
<%= render "components/flash_dialog" %>
<% @tweets.each do |tweet| %>
    <div class='mb-3'>
        <%= render "components/content_card", context: :index, tweet: tweet %>
        <%= render "components/replies", context: :index, tweet: tweet %>
    </div>
<% end %>

