<div class='<%= text_class %> text-center homepage-header'>
  <h1 class='font-weight-light' > @<%= @user.name %> </h1>
  <% if user_signed_in? and current_user.id == @user.id %>
    <%= link_to 'edit', edit_user_registration_path %><br>
  <% else %>
    <% if user_signed_in? and ( current_user.followings.include? @user ) %>
      <%= link_to 'unfollow', unfollow_path( @user.id ), method: :delete %><br>
    <% else %>
      <%= link_to 'follow', follow_path( @user.id ), method: :post %><br>
    <% end %>
  <% end %>
  <div class='row'>
    <div class='col'>
      <%= link_to "Tweets", tweets_user_path( @user.id ) %><br><%= @user.tweets.size %>
    </div>
    <div class='col'>
      Following<br><%= @user.followings.size %>
    </div>
    <div class='col'>
      <%= link_to "Follower", tweets_user_follower_path( @user.id ) %><br><%= @user.followers.size %>
    </div>
  </div>
</div>
<%= render "components/flash_dialog" %>
<div class="row">
  <% @user.followings.each do |user| %>
    <div class="col-3 text-center mb-5">
      <div class="mb-2">
        <%= link_to user.name, tweets_user_path( user.id ) %><br>
      </div>
      <% if user_signed_in? and ( current_user.followings.include? user ) %>
        <%= link_to 'unfollow', unfollow_path( user.id ), method: :delete %><br>
      <% else %>
        <%= link_to 'follow', follow_path( user.id ), method: :post %><br>
      <% end %>
    </div>
  <% end %>
</div>