<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/header" %>
  </head>
  <body class="<%= bg_body_class %>">
    <%= render "components/navbar" %>
    <div class='container mt-3'>
      <div class='row'>
        <div class='col-3'>
          <div class='homepage-header'></div>
          <%= render "components/trends_card" %>
        </div>
        <div class='col-6'>
          <%= yield %>
        </div>
        <div class='col-3'>
          <div class='homepage-header'></div>
          <%= render "components/suggestions_card" %>
        </div>
      </div>
    </div>
  </body>
</html>
